@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@100&family=Sacramento&family=Ubuntu&display=swap');


*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}


.container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #141519;

}

.card{

  height: 23rem;
  width: 23rem;
  background: #1e2631;
  border-radius: 2rem;

}

.fill{

  margin-left: 2rem;
  margin-top:  2rem;
  background: #282e36;
  width: 2.5rem;
  height: 2.5rem;
  color: #f07539;
  font-size: 1.2rem;
  border-radius: 2rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
  
}

h2{

  margin: 1rem 2rem 0rem 2rem;
  color: white;
}

p{
  margin: 1rem 2rem 1rem 2rem;
  color: gray;
}

.button-container{

  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.button{

  background: #282e36;
  width: 2.5rem;
  height: 2.5rem;
  color: gray;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  margin: 1rem 0.5rem 1rem 1rem;

}

.button:hover{

  background: #f07539;
  color: #fff;


}

.submit{
  
  width: 80%;
  height: 10%;
  margin-left: 2rem;
  margin-top: 0.5rem;
  background: #f07539;
  color: #fff;
  border: none;
  border-radius: 2rem;
}

.submit:hover{

  background: #000;
  color:#f07539 ;
}

/* last page */



.button-review{

  margin: 5rem 1rem 1rem 4rem;
  color: #f07539;
  background: #282e36;
  padding: 1rem;
  width: 60%;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
}

h1{
  color: #fff;
  margin: 1.5rem 1rem 1rem 6rem;
  font-size: 1.5rem;


}

